body {
    text-align: center;
    scroll-behavior: smooth;
}

#Mainpart1 {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: aliceblue;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fea3aa, #f8b88b, #faf884, #baed91,
            #b2cefe, #f2a2e8);
}

#proilepic {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.txts {
    color: magenta;
    font-family: 'Caveat', cursive;
    font-variant: small-caps;
}


#menu {
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    cursor: pointer;
    background-color: cornsilk;
    width: 100%;
}

.links {
     left:400px;
    float: left;
    color: hotpink;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 20px;
    display: inline;
    left: 400px;
}

.links:hover {
    font-size: 25px;


}

.projectsclass {
    border-style: ridge;
    background-color: hotpink;
    color: navy;
    font-size: 50px;
    border-color: CornflowerBlue;
    border-width: 10px;
    width:200px;
    height:300px;
}

#projects {
    background: linear-gradient(45deg, #614385 0%, #516395 100%);
}
h1{
    color:crimson;
    font-size: 50px;
}
.line{
   height:6px;
    width:40%;
    background-color: darkturquoise;
    margin: 8px auto;
}
#apps{
    background-color:linear-gradient(45deg,#ffa3f9 , #07a8e3 );
    width:100%;
    height:800px;
}
.arrows{
    height:100x;
    width:100px;
      bottom:50%;
}
#specialproject,.projectsclass,.arrows{
     transition:transform .2s;  
}
#specialproject:hover,.projectsclass:hover,.arrows:hover{
transform: scale(0.9);

}
#specialproject{
  border-left-color:#9B5DE5;
  border-right-color:#F15BB5;
  border-bottom-color:#00F5D4;
  border-top-color:#ff8360;
}
#contact iframe {
    width: 100%;

}

.contact1 h3 {
    display: inline;
}

.contact1 a {
    color: aliceblue;
    text-shadow: none;
}
